{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}12 цветочных месяцев{% endblock %}</title>
    <!-- Подключаем Bootstrap для оформления -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <header>
    <!-- Навигация -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Главная</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                            <li><a href="{% url 'home' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Регистрация</a></li>
                        <li><a href="{% url 'login' %}">Вход</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </header>

    <div class="container mt-5">
        {% block content %}
        <!-- Уникальный контент каждой страницы будет подставляться сюда -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 12 цветочных месяцев</p>
    </footer>

    <!-- Подключаем Bootstrap JS для интерактивности -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
