{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Профиль пользователя</h2>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Имя пользователя: {{ user.username }}</h5>
            <p class="card-text">Имя: {{ user.first_name }}</p>
            <p class="card-text">Фамилия: {{ user.last_name }}</p>
            <p class="card-text">Email: {{ user.email }}</p>
                {% if user.userprofile %}
                <p class="card-text">Телефон: {{ user.userprofile.phone }}</p>
                <p class="card-text">Адрес: {{ user.userprofile.address }}</p>
                {% else %}
                <p class="card-text text-muted">Профиль не заполнен</p>
                {% endif %}
        </div>
    </div>

    <div class="mt-4 text-center">
        <a href="{% url 'users:edit_profile' %}" class="btn btn-primary">Редактировать профиль</a>
    </div>
</div>
{% endblock %}
