{% extends 'bouquets/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1 class="text-center">12 цветочных месяцев</h1>
<div class="row">
    {% for bouquet in bouquets %}
    <div class="col-md-3 mb-4">
        <div class="card">
            <img src="{{ bouquet.image.url }}" class="card-img-top" alt="{{ bouquet.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ bouquet.name }}</h5>
                <p class="card-text">{{ bouquet.description }}</p>
                <p class="card-text"><strong>Цена: {{ bouquet.price }} ₽</strong></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
